body {
  background-color: #131B10;
  /*background-image: linear-gradient(to bottom, #131B10, #112011);*/
}

#headbar {
  position: absolute;
  background-image: linear-gradient(to bottom right, #1F3D00, #132600, #091D08);
  width:98%;
  height:60px;
  border-bottom-left-radius:55px;
  border-top-left-radius:55px;
  z-index: 2;
} 
#picturetop {
  filter: drop-shadow(0.4rem 0.1rem 1rem #2E5A00);
  border-radius: 50px;
} 

#headtext {
  position: absolute;
  left:80px;
  color:#82E47A;
  font-size:20px;
  font-family:roboto;
  font-weight:600;
  z-index: 3;
  animation: headtext 5s infinite;
}

@keyframes headtext {
  30% {text-shadow: 1px -1px 1rem #81FF00;}
} 

#teodiv {
  position: absolute;
  top: 10em;
  left: 0px;
  right: 0px;
  width: 100%;
  margin:0 auto;
  z-index: 3;
}
#teopces {
  color: #1CAF00;
  text-align: left;
  /*font-size: 22px;*/
  font-family: roboto, Verdana, sans-serif;
  font-weight: 600;
  text-shadow: 1px -1px 3rem #81FF00;
}

.teogces {
  color: #E6FFC9;
  text-align: left;
  font-size: 130%;
  font-family: roboto, Verdana, sans-serif;
  font-weight: 600;
  line-height: 25px;
  width: 100%;
}

#ollist {
  
}
